{% include 'components/homeheader.html' %}
<section id="section">
        <img src="static/assets/space.jpg" alt="" id="space">
        <div id="earth"></div>
        <h1 id="text">The Russia-Ukraine Crisis Visualized...</h1>
        <a href="#info" id="btn">Learn More</a>
        
        
    </section>
    <div name="info" class="about-section" id="info"> 
        <h2>Welcome To Our Project!!</h2>
        <p>Our goal was to visualize the Russia-Ukraine war using data science with an interactive map that shows the displacement of Ukrainian refugees to several neighboring countries. You can observe how refugee movement has changed over the course of the war using a slider. In addition, our map shows the resources of each Ukrainian province so it can be easily seen where people need help the most. We also have a page dedicated to articles about the war and links to organizations so you can help out.</p>
        <h3>Inspiration</h3>
      <p>With the outbreak of the Russia-Ukraine war, there are thousands of different articles about refugee movements and charities to donate to, many of which are unreliable and difficult to read. We hope to educate the general public about the refugee situation in Ukraine through data visualization with an interactive map and direct people to trustworthy organizations that they can donate to or volunteer with to aid Ukrainians in their time of need. 
</p>
      <h3>What's next</h3>
      <p>We plan on adding more useful data to our map such as food shortages so everyone can be well-informed about the situation in Ukraine and lend a helping hand.</p>
    </div>

{% include 'components/footer.html' %}

