{% include 'components/homeheader.html' %}
<section id="section">
        <img src="static/assets/space.jpg" alt="" id="space">
        <div id="earth"></div>
        <h1 id="text">The Russia-Ukraine Crisis Visualized...</h1>
        <a href="#info" id="btn">Learn More</a>
        
        
    </section>
    <div name="info" class="about-section" id="info"> 
        <h2>Welcome To Our Project!!</h2>
        <p>Our goal was to visualize the Russia-Ukraine war using python's data science libraries.</p>
        
    </div>

{% include 'components/footer.html' %}

