                                                                                                                                                          
<!-- Footer Section --> 
    <footer id="footer">
      <!-- Github -->
      <a href="https://github.com/Kdm2633/Ukraine-Aid"><i class="icon fab fa-github fa-3x"></i></a>
      <!-- Data Icon -->
      <a href="https://data.humdata.org/dataset/ukraine-refugee-situation"><i class="icon fa-solid fa-database fa-3x"></i></a>
    </footer>
</body>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
</html>