/* font-family: 'Merriweather', serif;
font-family: 'Roboto', sans-serif; */
:root {
    --blue: #92B4EC;
    --white: #FFFFFF;
    --light-yellow: #FFE69A;
    --yellow: #FFD24C;
  }
  .navbar {
      background-color: var(--blue);
      font-family: 'Merriweather', serif;
  }

  .navbar-brand {
      color: var(--white);
      font-size: 2rem;
  }

  .nav-link {
    color: var(--white);
    font-size: 1.5rem;
  }

/* Footer */

#footer {
    background-color: var(--blue);
    color: var(--white);
    padding: 2%;
    text-align: center;
  }
  
  #footer p {
    font-size: 1.5rem;
    font-weight: 500;
  }
  
  .fab,
  .fas {
    margin: 15px;
    color: var(--white);
  }
